.project-card:hover{
    box-shadow: 0px 0px 15px rgb(255, 133, 62); /* Box shadow para el efecto de sombra */
    transform: scale(1.05);
}

.project-card-imgContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height:50%;
    border-radius: 8%;
}

.project-card-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 95%;
    max-height: 95%;
    height:auto;
    border-radius: 8%;
}

.project-card-h3{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 20%;
    font-size: 0.8rem;
    font-weight: bold;
    color:rgb(255, 123, 0);
    margin:0px;
    text-align: center;
}

.project-card-technologies{
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-items: flex-start;
    width: 95%;
    height: 30%;
}

.project-card-techologies-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height:auto;
    min-width: 30px;
    margin:2%;
}



/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px){
    /* Estilos específicos para móviles */
    .project-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width:180px;
        height:300px;
        border-radius: 5%;
        text-decoration: none;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* Box shadow para el efecto de sombra */
        padding: 5px; /* Espacio interior de la tarjeta */
        transition: 0.2s all ease;
        background-color: #1f1f1f;
    }
    
}
    
/* Estilos para tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) and (min-width:769px){
    /* Estilos específicos para tablets */
    .project-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 180px;
        height:300px;
        border-radius: 5%;
        text-decoration: none;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* Box shadow para el efecto de sombra */
        padding: 5px; /* Espacio interior de la tarjeta */
        transition: 0.2s all ease;
        background-color: #1f1f1f;
    }
    
}

/* Estilos para computadoras de escritorio (ancho mínimo de 1025px) */
@media (min-width: 1025px) {
    /* Estilos específicos para escritorio */
    .project-card{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        min-width: 180px;
        height:300px;
        border-radius: 5%;
        text-decoration: none;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2); /* Box shadow para el efecto de sombra */
        padding: 5px; /* Espacio interior de la tarjeta */
        transition: 0.2s all ease;
        background-color: #1f1f1f;
    }
}