.projects{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:space-around;
    width: 100%;
    height: auto;
    overflow:hidden;
    z-index: 0;
}

/* Estilos para dispositivos móviles (ancho máximo de 768px) */
@media (max-width: 768px){
    /* Estilos específicos para móviles */
    .projects-h3{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 10vh;
        font-size: 2rem;
        color:black;
        border-bottom: 2px solid #FF6362;
        margin-left:2.5%;
    }
    
}
    
/* Estilos para tablets (ancho máximo de 1024px) */
@media (max-width: 1024px) and (min-width:769px){
    /* Estilos específicos para tablets */
    .projects-h3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 25%;
        height: 10vh;
        font-size: 2rem;
        color:black;
        border-bottom: 2px solid #FF6362;
        margin-left:2.5%;
    }
    
    
}

/* Estilos para computadoras de escritorio (ancho mínimo de 1025px) */
@media (min-width: 1025px) {
    /* Estilos específicos para escritorio */
    .projects-h3{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 20%;
        height: 10vh;
        font-size: 2rem;
        color:black;
        border-bottom: 2px solid #FF6362;
        margin-left:2.5%;
    }

}