.left-circle-card{
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: flex-start;
    width: 100%;
    height: 15vh;
    border-left: 2px solid rgb(255, 38, 0);
    padding-left:3vw;
    position: relative;
    
}

.left-circle-card-h3{
    display: flex;
    color:white;
    font-size: 1.5rem;
    font-weight: bold;
    margin:0px;
}

.left-circle-card-p{
    display: flex;
    color: white;
    font-size: 1rem;
}

.circle{
    display: flex;
    width: 12px;
    height: 12px;
    position: absolute;
    top:42%;
    left:-2%;
    background-color:orangered;
    border-radius: 100%;
}