html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin:0px;
  width: 100%;
  background-color: rgb(253, 253, 253)
}

#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px;
  width: 100%;
  font-family: Arial, sans-serif;
}

.margin-flexbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin:0px;
  width: 95%;
  margin-bottom:5vh;
}

.flexbox-blue{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:0px;
  width: 100%;
  background: #004b49;
  margin-top:2vh;
}