html{
  scroll-behavior: smooth;
}

body,#root,div{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height:auto;
  margin:0px;
}

.app{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height:auto;
  font-family: Arial, sans-serif;
  background-color: rgb(253, 253, 253);
  position:relative;
}


/* Estilos para la transición de entrada */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

/* Estilos para la transición de salida */
.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 500ms ease-out;
}

