.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 15vh;
}

.header-h2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    max-width: 30%;
    background: #FF6362; /* Degradado de colores */
    background-clip: text; /* Aplicar el degradado al texto */
    -webkit-background-clip: text; /* Para navegadores basados en WebKit */
    color:transparent;
    font-weight: bolder;
    font-size: 2rem;
    margin: 0px;
}